.circular--square {
    border-radius:150px;
    height: 110px;
    width: 100px;
    margin-top: 10%;
    margin-left: 60%;
  }
  .card{
    width: 90%;
    margin: auto;
    margin-top: 5%;
    background-color:  white ;
    border: black 2px solid;
}

@media (min-width: 450px){

  .circular--square {
    border-radius:150px;
    height: 110px;
    width: 100px;
    margin-top: 10%;
    margin-left: 80%;
  }

  @media (min-width: 1200px){

    .circular--square {
      border-radius:150px;
      height: 110px;
      width: 100px;
      margin-top: 10%;
      margin-left: 90%;
    }
  }

} 